body {
    margin: 0;
    padding: 0;
    background-color: rgba(227, 111, 45, 1);
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
.basic_div {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border: 1px solid white;
    width: 970px;
    height: 3313px;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 20px);
}
header .nav_header:nth-child(1) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}
header .btn_header:nth-child(2) {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row: 2;
}
header .nav_header .nav_header_btn {
    color: rgba(92, 92, 92, 1);
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
}
header .nav_header .nav_header_btn img {
    margin-left: 5px;
}
header .btn_header .btn_login_header {
    color: rgba(8, 8, 8, 1);
    padding: 10px;
    border: 0.7px solid rgba(230, 230, 230, 1);
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}
header .btn_header .btn_getStr_header {
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    border: 0.7px solid rgba(230, 230, 230, 1);
    border-radius: 5px;
    background-color: rgba(234, 116, 98, 1);
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}
header .btn_header .btn_getStr_header img {
    color: rgba(255, 255, 255, 1);
}